* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.product-items{
    display: flex;
    justify-content: space-between;
    background-color: #dddddd;
    padding: 12px;
}
.product-item {
    width: 19%;
    background-color: yellowgreen;
    padding: 12px;
    text-align: center;
}
.product-item img {
    width: 100%;
    margin-bottom: 20px;
}
.product-item-text {
    display: flex;
    justify-content: space-between;
}
.product-item h1 {
    width: 150px;
    height: 70px;
}
.product-item button {
    margin-top: 12px;
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    border: none;
}
.product-item button:hover {
    background-color: #CC4C4C;
}
/*cart*/
.cart {
    width: 50%;
    margin: auto ;
    text-align: center;
    padding-top: 30px ;
}
.cart h2 {
    margin-bottom: 20px;
}
.cart table {
    width: 100%;
}
.cart table thead tr th:first-child {
    text-align: left;
}
.cart table tr td {
    border-bottom: 1px solid #dddddd;
    padding: 12px 0;
}
.cart table thead tr th:last-child {
    text-align: right;
}
.cart table tbody tr td:last-child {
    text-align: right;
}
.cart button {
    margin-top: 12px;
    height: 30px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: bisque;
}
.cart {
    position: fixed;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    background-color: rgba(229, 227, 131, 0.95);
    padding: 12px 20px;
    overflow-y:scroll ;
    right: -100%;
    transition: all 0.3s ease;
}
.cart-icon {
    cursor: pointer;
}
.cart i {
    cursor: pointer;
    margin-bottom: 50px;
}